@import url("https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700");
@import "reset";

$white: #fff;
$darkBlue: #384793;
$lightBlue: #25b3ec;
$lightPurple: #9787ee;
$yellow: #ffbf3e;
*,
h1,
h2,
h3,
h4,
h5,
h6,
p,
span,
div {
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
}
html,
body {
  background: #ededed;
  height: 100%;
  overflow: hidden;
}
@import "home";
@import "all-tasks";
.btn {
  width: 100%;
  padding: 10px;
  text-align: center;
  margin: 15px 0;
  &.lightBlue {
    font-size: 25px;
    background: $lightBlue;
  }
}

.container {
  max-width: 1200px;
}
